# .env.example
# Ce fichier est un exemple pour la configuration des variables d'environnement de votre application.
# Créez une copie de ce fichier nommée .env et adaptez les valeurs à votre environnement.
# N'oubliez pas d'ajouter .env à votre fichier .gitignore pour éviter de le commiter.

# --- Configuration de l'environnement (pour les scripts Python : api.py, audio_player.py) ---
# Définit si l'application s'exécute sur un Raspberry Pi (True) ou sur une machine de développement (False).
# Cette variable sera lue par python-dotenv.
IS_RASPBERRY_PI=False

# Mot de passe pour accéder à l'API Flask.
# C'est une protection simple pour l'accès à votre API.
# Pour une application en production ou exposée sur internet, envisagez une authentification plus robuste.
PASSWORD="password"

# --- Chemins du projet ---
# Chemin racine ABSOLU de l'application sur le Raspberry Pi.
# Ex: /home/pi/mon_app_audio ou /home/pi/pi_audio_player_app
PI_PROJECT_ROOT="/home/pi/app"

# --- Configuration Réseau pour le Raspberry Pi (utilisée par deploy.sh) ---
# Adresse IP ou hostname de votre Raspberry Pi.
# Ex: 192.168.1.1 ou raspberrypi.local (si mDNS est activé).
RASPBERRY_PI_HOST="192.168.1.1"

# Nom d'utilisateur SSH sur le Raspberry Pi. 'pi' est l'utilisateur par défaut.
# Ex: pi
RASPBERRY_PI_USER="pi"

# --- Configuration du point d'accès Wi-Fi ---
# SSID (nom) du point d'accès Wi-Fi
AP_SSID="raspberrypi-audio"

# --- Configuration pour le point d'accès Wi-Fi du Raspberry Pi ---
# Ce mot de passe est utilisé par le script config_ap.sh pour créer le réseau Wi-Fi.
# Il est distinct du mot de passe de l'API.
AP_WIFI_PASSWORD="password"